<div class="main-wrapper">

  <section class="section summary-section">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Hồ Sơ Nghề Nghiệp</h2>
    <div class="summary">
      <p class="color-blod">
        Tôi là Tuấn, một nhà thiết kế web và nhà phát triển giao diện người dùng với hơn 2 năm kinh nghiệm chuyên môn về
        thiết kế và phát triển giao diện người dùng, tôi hiện đang sống ở TP Hồ Chí Minh.
      </p>
      <p>
        Tôi có bằng cử nhân công nghệ phần mềm, tôi nghiên cứu giao diện máy tính của con người và tâm lý tương tác giữa
        con người với máy tính.
      </p>
      <p>
        Tôi đã có kinh nghiệm làm việc tại công ty Dai Phat Solutions với vị trị Fullstack Developer
      </p>

    </div><!--//summary-->
  </section><!--//section-->

  <section class="section experiences-section">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Kinh Nghiệm</h2>

    <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
      <span> ▪ Hơn 2 năm kinh nghiệm lập trình với Angular +</span>
      <span> ▪ Hơn 1 năm làm việc với Electronjs xây dựng ứng dụng desktop trên windows và macos</span>
      <span> ▪ Có kinh nghiệm làm hồ sơ thiết kế kiến trúc (Basic design, Low level design, Detail design,DataBase,SQL Server,MongoDB...)</span>
      <span> ▪ Hơn 2 năm kinh nghiệm và kiến thức về HTTP Request (Restful API), .Net</span>
      <span> ▪ Hơn 6 lập trình mobile với React Native triển khai và thiết kế các ứng dụng dành cho thiết bị di động</span>

    </div>

  </section>
  <section class="section experiences-section">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Dự án</h2>

    <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
      <div>
        <div style="display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      ">
          <span style="  color: #333;
          font-weight: 500;">
            Ứng dụng chat,team,work nằm trong hệ sinh thái jeeplatform với nhiều chức năng
          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Mô tả: Xây dựng ứng dụng chat giữa các nhân viên với nhau tạo task (công việc trong chat) ,tạo cuộc họp sử dụng zoom hoặc msTeam,gửi file ,hình ảnh,video,sticker,tag name, mã hóa thông báo....</p>


          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Technical: Sử dụng Angular 12+ ,material UI,Websocket, SignalR,Sql Server,.NET,Json,HTTP Request (Restful API) </p>


          </span>
        </div>
        <div style="display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      ">
          <span style="  color: #333;
          font-weight: 500;">
            Build lib chat và publish lên npm
          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Mô tả: Publish thư viện lên npm để nhiều app có thể sử dụng
            </p>



          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Technical: Sử dụng Angular, NPM </p>


          </span>
        </div>
        <div style="display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      ">
          <span style="  color: #333;
          font-weight: 500;">
           Micro FE
          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Mô tả: Mạng xã hội nội bộ được sử dụng như “platform” để phát triển và sử dụng các ứng dụng hỗ trợ quá trình hoạt động và ra quyết định trong nội bộ doanh nghiệp. Với cách truyền thống, thì mọi thông tin, văn bản đều phải in ấn bằng tài liệu và được xét duyệt bản cứng,lưu trữ trong tủ hồ sơ của doanh nghiệp, tạo các bài đăng kèm hìn hảnh,file,thông báo, bày tỏ cảm xúc,chat tích hợp từ lib chat npm tự build trong hệ thống
            </p>



          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Technical: Sử dụng Angular 12+ ,material UI,Websocket, SignalR,Sql Server,.NET,Json,HTTP Request (Restful API) </p>


          </span>
        </div>
        <div style="display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      ">
          <span style="  color: #333;
          font-weight: 500;">
            Mạng xã hội nội bộ
          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Mô tả: Mạng xã hội nội bộ được sử dụng như “platform” để phát triển và sử dụng các ứng dụng hỗ trợ quá trình hoạt động và ra quyết định trong nội bộ doanh nghiệp. Với cách truyền thống, thì mọi thông tin, văn bản đều phải in ấn bằng tài liệu và được xét duyệt bản cứng,lưu trữ trong tủ hồ sơ của doanh nghiệp, tạo các bài đăng kèm hìn hảnh,file,thông báo, bày tỏ cảm xúc,chat tích hợp từ lib chat npm tự build trong hệ thống
            </p>



          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Technical: Sử dụng Angular 12+ ,material UI,Websocket, SignalR,Sql Server,.NET,Json,HTTP Request (Restful API) </p>


          </span>
        </div>
        <div style="display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      ">
          <span style="  color: #333;
          font-weight: 500;">
            Xây dựng ứng dụng desktop với Electronjs trên windown và macos
          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Mô tả: Ứng dụng desktop trên windows và macos,
              notify,tự khởi động ứng dụng khi khởi động máy,tự động update version khi có release mới

            </p>

          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Technical: Sử dụng Electronjs ,Electron builder,Nodejs,HTML,SCSS,Github...

          </span>
        </div>
        <div style="display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      ">
          <span style="  color: #333;
          font-weight: 500;">
            Xây dựng ứng dụng quản lý công việc trên mobile
          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Mô tả: Tạo task, tiến độ công việc thống kê,quản lý dự án,quản lý phòng ban..

            </p>

          </span>
          <span class="itemconten">
            <p> <mat-icon style="margin-top: px;">arrow_right</mat-icon> Technical: React Native,
              Redux, Saga,Persist,
              HTTP Request (Restful API),
              Animation,
              Notifications,
              Caching,
          </span>
        </div>

      </div>


    </div>

  </section>

  <section class="section portfolio-section">
    <h2 class="section-title">
      <span class="icon-holder"><i class="fas fa-th-large"></i></span>
      Portfolio
    </h2>
    <div class="portfolio-content">
      <div class="row">
        <div class="col-xl-6" *ngFor="let item of portfolio | paginate: { itemsPerPage: 4, currentPage: p }">
          <div class="portfolio-item">
            <a href="{{item.url}}" target="_blank"></a>
            <img src="{{item.covers['404']}}" alt="{{item.name}}">
            <div class="details">
              <h4>{{item.name}}</h4>
              <div class="stats">
                <ul class="list-unstyled">
                  <li><i class="far fa-eye"></i> {{item.stats.views}}</li>
                  <li><i class="far fa-thumbs-up"></i> {{item.stats.appreciations}}</li>
                </ul>
              </div>
              <div class="tags" *ngIf="item.fields.length">
                <ul class="list-unstyled">
                  <li *ngFor="let field of item.fields">{{field}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

  </section><!--//section-->

</div><!--//main-body-->